src/main/resources/wsdl/wsadd.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://wsadd.ws.demos.fuse.redhat.com/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="AddEndpointService" targetNamespace="http://wsadd.ws.demos.fuse.redhat.com/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://wsadd.ws.demos.fuse.redhat.com/"
			elementFormDefault="unqualified" targetNamespace="http://wsadd.ws.demos.fuse.redhat.com/"
			version="1.0">
			<xs:element name="add" type="tns:add" />
			<xs:element name="addResponse" type="tns:addResponse" />
			<xs:complexType name="add">
				<xs:sequence>
					<xs:element minOccurs="1" name="addDTO" type="tns:addDTO" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="addDTO">
				<xs:sequence>
					<xs:element name="oper1" type="xs:int" />
					<xs:element name="oper2" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="addResponse">
				<xs:sequence>
					<xs:element minOccurs="1" name="return" type="tns:addResult" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="addResult">
				<xs:sequence>
					<xs:element name="result" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="addResponse">
		<wsdl:part element="tns:addResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="add">
		<wsdl:part element="tns:add" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="addEndpoint">
		<wsdl:operation name="add">
			<wsdl:input message="tns:add" name="add"></wsdl:input>
			<wsdl:output message="tns:addResponse" name="addResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="addEndpointServiceSoapBinding" type="tns:addEndpoint">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="add">
			<soap:operation soapAction="add" style="document" />
			<wsdl:input name="add">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="addResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="addEndpointService">
		<wsdl:port binding="tns:addEndpointServiceSoapBinding" name="addEndpointPort">
			<soap:address location="/add" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>