src/main/resources/wsdl/wssum.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://wssum.ws.demos.fuse.redhat.com/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="AddEndpointService" targetNamespace="http://wssum.ws.demos.fuse.redhat.com/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://wssum.ws.demos.fuse.redhat.com/"
			elementFormDefault="unqualified" targetNamespace="http://wssum.ws.demos.fuse.redhat.com/"
			version="1.0">
			<xs:element name="sum" type="tns:sum" />
			<xs:element name="sumResponse" type="tns:sumResponse" />
			<xs:complexType name="sum">
				<xs:sequence>
					<xs:element minOccurs="1" name="sumDTO" type="tns:sumDTO" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="sumDTO">
				<xs:sequence>
					<xs:element name="oper1" type="xs:int" />
					<xs:element name="oper2" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="sumResponse">
				<xs:sequence>
					<xs:element minOccurs="1" name="return" type="tns:sumResult" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="sumResult">
				<xs:sequence>
					<xs:element name="result" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="sumResponse">
		<wsdl:part element="tns:sumResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="sum">
		<wsdl:part element="tns:sum" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SumEndpoint">
		<wsdl:operation name="sum">
			<wsdl:input message="tns:sum" name="sum"></wsdl:input>
			<wsdl:output message="tns:sumResponse" name="sumResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SumEndpointServiceSoapBinding" type="tns:SumEndpoint">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sum">
			<soap:operation soapAction="sum" style="document" />
			<wsdl:input name="sum">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="sumResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SumEndpointService">
		<wsdl:port binding="tns:SumEndpointServiceSoapBinding" name="SumEndpointPort">
			<soap:address location="/sum" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>